<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      var props = <%- JSON.stringify(props) %>
    </script>
    <script type="text/javascript" src="<%= assetBundles.app.js %>" charset="utf-8"></script>
  </head>
  <body>
    <div id="container"><%- content %></div>
  </body>
</html>